<footer class="page-footer">
    <div class="container  page-footer__top">
      <div class="col-sm-6  col-md-6">
        <div class="page-footer__top-about">
          <h4>Murad Əlİyev</h4>
          <p>Əxlaqı tərbiyə edən ən nadir kitab – vicdandır. Onunla tez – tez məsləhətləşmək lazımdır.
          </p>
          <p>Phone: +994558984826</p>
          <p>Email: <a href="mailto:murad.aliyev.tqo15@gmail.com">murad.aliyev.tqo15@gmail.com</a></p>
        </div>
      </div>
      
      
    </div>
    <div class="container  page-footer__bottom">
      <div class="col-sm-8  col-md-8  page-footer__bottom-copyright">
        <p>2020 © Murad. Personal Blog.</p>
      </div>
     
    </div>
  </footer>
  <div class="search-popup">
    <svg class="search-popup__close">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
    </svg>
    <div class="search-popup__container  container">
      <form action="index.html">
        <input type="text" size="32" placeholder="Search">
      </form>
    </div>
  </div>
  <div class="content-overlay"></div>